// Fonts
@import url('https://fonts.googleapis.com/css?family=Oswald');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.btn-primary {
    &:hover,
    &:focus,
    &:active {
        background-color: #4ac9ff;
        border-color: #4ac9ff;
    }
}

.card {
    border-color: $primary;
    h5 {
        font-family: "Oswald", sans-serif;
    }
    .card-footer {
        .btn-primary {
            font-family: "Oswald", sans-serif;
        }
    }
}

#btn-close {
    top: .5rem;
    right: 1rem;
}
